@import "tailwindcss";

:root {
  --color-bg: #F2F2F2;
  --color-surface: #F2ECE9;
  --color-text-primary: #0D0D0D;
  --color-text-secondary: #595959;
  --color-border: #A6A6A6;
}

.dark {
  --color-bg: #0D0000;
  --color-surface: #262121;
  --color-text-primary: #F2F2F2;
  --color-text-secondary: #A6A3A1;
  --color-border: #595656;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}